.debug header {
  height: 80px;
}

.debug #jumbotron {
  /* height: 400px; */
}

.debug #portfolio {
  /* background-color: bisque; */
}

.debug #about {
  background-color: rgb(61, 189, 189);
}

.debug #contact-me {
  background-color: blueviolet;
}

.debug footer {
  background-color: grey;
}

[class*="col-"] {
  /* border: 1px dashed; */
  /* height: 200px; */
}

a {
  color: white;
  text-decoration: none;
}

:root {
  --bg-header: #2c3e50;
  --bg-jumbotron-about: #1abc9c;
  --footer: #3a546d;

  --portfolio-1: #ba4b63;
  --portfolio-2: #1ea4b6;
  --portfolio-3: #140f0f;
  --portfolio-4: #1c83c1;
  --portfolio-5: #0e38b5;
  --portfolio-6: #ccb2a3;
}

/* #region UTILITIES */

.star-divider {
  .line {
    width: 4rem;
    border-top: 4px solid white;
  }

  & i {
    font-size: 1.6rem;
  }
}

/* #endregion UTILITIES */

/* #region HEADER */

header {
  height: 90px;
  background-color: var(--bg-header);
  color: white;
}

.logo {
  font-weight: 700;
  font-size: 1.1rem;
  color: white;
  text-decoration: none;

  @media (min-width: 768px) {
    font-size: 1.6rem;
  }
}

.nav_btn {
  color: white;
}

.nav_links {
  cursor: pointer;
}

.nav_links a {
  font-size: 1.1rem;
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: transform 0.2s ease-in-out;
  display: inline-block;
}

.nav_links:hover a {
  transform: translateY(-2px);
}

/* #endregion HEADER */

/* #region MAIN */

#jumbotron {
  background-color: var(--bg-jumbotron-about);

  & h2 {
    font-size: 2rem;

    @media (min-width: 768px) {
      font-size: 3rem;
    }
  }

  & h5 {
    @media (min-width: 768px) {
      font-size: 1.4rem;
    }
  }

  img {
    max-width: 212px;
  }
}

#portfolio {
  .star-divider .line {
    border-color: var(--bg-header);
  }

  .star-divider i {
    color: var(--bg-header);
  }

  .card {
    position: relative;

    .middle {
      font-size: 3rem;
      color: white;
      font-weight: 600;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
  }

  .card:hover img {
    opacity: 0.7;
  }

  .card:hover .middle {
    opacity: 1;
    z-index: 1;
  }

  .card > img {
    border-radius: 15px;
  }

  @media (min-width: 768px) {
    h2 {
      font-size: 3rem;
    }
  }
}

#about {
  background-color: var(--bg-jumbotron-about);

  & p {
    font-size: 1.2rem;
    font-weight: 500;
  }

  @media (min-width: 768px) {
    h3 {
      font-size: 3rem;
    }
  }
}

#contact-me {
  .star-divider .line {
    border-color: var(--bg-header);
  }

  .star-divider i {
    color: var(--bg-header);
  }

  @media (min-width: 768px) {
    h3 {
      font-size: 3rem;
    }
  }
}

#contact-me {
  & form input::placeholder,
  & form textarea::placeholder {
    font-size: 1.2rem;
    color: var(--bg-header);
    font-weight: 500;
  }

  .form_btn {
    background-color: var(--bg-jumbotron-about);
  }
}

/* #endregion MAIN */

/* #region FOOTER */

footer {
  .upper-footer {
    background-color: var(--footer);
  }

  .lower-footer {
    background-color: var(--bg-header);
  }

  .copyright {
    font-size: 0.9rem;
  }

  .icons {
    gap: 1rem;
  }

  .icon {
    width: 50px;
    aspect-ratio: 1;
  }

  .icon:hover {
    background-color: white;

    i {
      color: var(--bg-header);
    }
  }

  .upper-footer .col-12 {
    & p {
      font-size: 1.2rem;
    }

    & h6 {
      @media (min-width: 768px) {
        font-size: 1.7rem;
      }
    }
  }

  .upper-footer .col-12:last-child p > a {
    color: var(--bg-jumbotron-about);
    text-decoration: none;
  }

  .upper-footer .col-12:last-child p > a:hover {
    text-decoration: underline;
  }
}

/* #endregion FOOTER */

@media screen and (min-width: 768px) {
  .star-divider .line {
    width: 6rem;
  }
}
