.debug header {
  height: 80px;
  background-color: rgb(192, 192, 192);
}

.debug #jumbotron {
  height: 400px;
  background-color: aqua;
}

.debug #portfolio {
  background-color: bisque;
}

.debug #about {
  background-color: rgb(61, 189, 189);
}

.debug #contact-me {
  background-color: blueviolet;
}

.debug footer {
  background-color: grey;
}

[class*="col"] {
  border: 1px dashed;
  height: 200px;
}
